body {
  background-color: red;
}

.blueStyle {color: blue;}

.large {font-size: 32px;}

nav li {width: 200px; display: inline; margin: 10px; position: relative; top: -20px; font-size: 25px; padding: 10px;}

nav {text-align: center;}
